<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>


		<div class="whole">

			<div class="display">
				<h1 id="display-previous"></h1>
				<h1 id="display-current"></h1>
			</div>
			<div class="buttons">
				<div class="row">
					<button value="7" class="7 btn num-btn">7</a>
					<button value="8" class="8 btn num-btn">8</a>
					<button value="9" class="9 btn num-btn">9</a>
					<button value="10" class="div btn op-btn">/</a>
				</div>
				<div class="row">
					<button value="4" class="4 btn num-btn">4</a>
					<button value="5" class="5 btn num-btn">5</a>
					<button value="6" class="6 btn num-btn">6</a>
					<button value="*" class="multi btn op-btn">x</a>
				</div>
				<div class="row">
					<button value="1" class="1 btn num-btn">1</a>
					<button value="2" class="2 btn num-btn">2</a>
					<button value="3" class="3 btn num-btn">3</a>
					<button value="+" class="plus btn op-btn">+</a>
				</div>
				<div class="row">
					<button value="0" class="0 btn num-btn">0</a>
					<button value="." class="dec btn dec-btn">.</a>
					<button value="=" class="equal btn eq-btn">=</a>
					<button value="-" class="minus btn op-btn">-</a>
				</div>
			</div>

		</div>
		

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>