<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>


		<div class="whole">

			<div class="display">
				<h1 id="display"></h1>
			</div>
			<div class="buttons">
				<div class="row">
					<button href="" class="7 btn">7</a>
					<button href="" class="8 btn">8</a>
					<button href="" class="9 btn">9</a>
					<button href="" class="div btn">/</a>
				</div>
				<div class="row">
					<button href="" class="4 btn">4</a>
					<button href="" class="5 btn">5</a>
					<button href="" class="6 btn">6</a>
					<button href="" class="multi btn">x</a>
				</div>
				<div class="row">
					<button href="" class="1 btn">1</a>
					<button href="" class="2 btn">2</a>
					<button href="" class="3 btn">3</a>
					<button href="" class="plus btn">+</a>
				</div>
				<div class="row">
					<button href="" class="0 btn">0</a>
					<button href="" class="dec btn">.</a>
					<button href="" class="equal btn">=</a>
					<button href="" class="minus btn">-</a>
				</div>
			</div>

		</div>
		

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
